# === ASX dApp Environment ===
NODE_ENV=development

# Coingecko
COINGECKO_API_KEY=<your_coingecko_key>

# BSC RPCs
RPC_BSC_QNODE_HTTP=
RPC_BSC_QNODE_WSS=

# CORE RPCs
CORE_RPC_1=https://rpc.ankr.com/core
CORE_RPC_2=https://rpc-core.icecreamswap.com
CORE_RPC_3=https://core.public.infstones.com

# CoreScan API keys (if you integrate later)
CORESCAN_API_KEY_1=
CORESCAN_API_KEY_2=
CORESCAN_API_KEY_3=

# Thirdweb
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=
THIRDWEB_SECRET_KEY=
THIRDWEB_PROJECT_ID=

# Auth
AUTH_JWT_SECRET=change_this_in_prod

# App meta
NEXT_PUBLIC_APP_DOMAIN=localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
