# === ASX earn Environment ===
NODE_ENV=development

# Coingecko
COINGECKO_API_KEY=<your_coingecko_key>

# BSC RPCs
RPC_BSC_QNODE_HTTP=
RPC_BSC_QNODE_WSS=
BSC_MAINNET_RPC_URL=https://bsc-dataseed1.binance.org
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545

# CORE RPCs
CORE_RPC_1=https://rpc.ankr.com/core
CORE_RPC_2=https://rpc-core.icecreamswap.com
CORE_RPC_3=https://core.public.infstones.com

# CoreScan API keys (if you integrate later)
CORESCAN_API_KEY_1=
CORESCAN_API_KEY_2=
CORESCAN_API_KEY_3=

# Thirdweb
NEXT_PUBLIC_THIRDWEB_CLIENT_ID=
THIRDWEB_SECRET_KEY=
THIRDWEB_PROJECT_ID=

# Auth
AUTH_JWT_SECRET=change_this_in_prod

# App meta
NEXT_PUBLIC_APP_DOMAIN=localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Marketplace V3 (BNB Chain)
MARKETPLACE_NAME=Earn Marketplace V3
MARKETPLACE_DESCRIPTION=Marketplace V3 deployment for Earn platform.
MARKETPLACE_NETWORK=testnet
MARKETPLACE_CHAIN_ID=97
MARKETPLACE_PLATFORM_FEE_BPS=100
MARKETPLACE_PLATFORM_FEE_RECIPIENT=
MARKETPLACE_TRUSTED_FORWARDERS=
NEXT_PUBLIC_MARKETPLACE_CONTRACT_ADDRESS=0xfbEe1219180604f9cEF2E9A7C1fCF5392417182f
NEXT_PUBLIC_MARKETPLACE_CHAIN_ID=97
NEXT_PUBLIC_MARKETPLACE_PLATFORM_FEE_BPS=100
NEXT_PUBLIC_MARKETPLACE_PLATFORM_FEE_RECIPIENT=
NEXT_PUBLIC_WHITELISTED_COLLECTIONS=0x0a7c87956624cfE16d0FC9083d0feE5eebf6a443,0x2E67CaF68Adcbb861951CF0F8ca43B9bCAF391f5
