/* Center content on the page */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    /* Full height of the viewport */
    padding: 20px;

    /* Optional: light background color */
}

/* Style for the title */
.title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 60px;
}

/* Style for the paragraph */
.paragraph {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    /* Optional: max width for better readability */
    color: #555;
    /* Optional: muted text color */
}

/* Style for the DebankLPTrack component */
.debankLPTrack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*stretch the component to full width */
    max-width: fit-content;
    /* Limit the maximum width */

    /* Limit the maximum width */

    /* Background color for the component */
    padding: 20px;

    /* Add a subtle shadow */
}