.stakingWrapper {
  position: relative;
  max-width: 900px;
  margin: 40px auto;
  padding: 25px;
  margin-top: 150px;
  background-color: #0b0b0b00;
  border-radius: 20px;
  color: #5fadab;
  border: 1px solid #00ffee;
  box-shadow: 0 8px 32px 0 rgba(139, 26, 164, 0.37);
  backdrop-filter: blur(8.5px) ;
  

  border: 1px solid rgba(2, 247, 186, 0.18);

  /* Tunnel effect */
  background: linear-gradient(270deg, #0220233c, #1c1d2146, #0b0b0b48, #33044c4c, #1c202141);
  background-size: 1000% 1000%;


  position: relative;
  z-index: 1; /* Ensure it doesn't overlap everything */

}

/* You might add some pseudo-elements for more visual effects like light flares or additional depth */
.stakingWrapper::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgba(85, 162, 147, 0);
  z-index: -1;
  filter: blur(40px);
  border-radius: 20px;
}
.stakingWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit; /* Matches the parent's border-radius */
  pointer-events: none; /* Allows clicks to pass through */
}






.poolCard {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  color: #5fada5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s; /* Added transition for box-shadow */
  margin-bottom: 2rem;
  max-width: 900px;
  width: 100%;
  height: 100%;
  scroll-padding: 1rem;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: linear-gradient(270deg, #073f453c, #1c1d2146, #0b0b0b48, #33044c4c, #1c202141);
  
}


.poolCard:hover {
  transform: scale(1.00); /* Added transform hover effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}



.poolCardHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 12px;
  margin-bottom: 50px;
}



.cardHeader {
  display: flex;
  justify-content: space-between; /* Space out children elements evenly */
  align-items: center; /* Vertically center align items */
  margin: 5px 20px;
  height: 45px;
}


.aprAndPrice {
  flex: 1; /* Allow this section to grow and fill the space */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align text to the end (right) */
}

.logoContainer {
  /* Center the logo container */
  display: flex;
  
  justify-content: center;
  flex: 1; /* Prevents the logo container from growing */
}

.spacer {
  /* Invisible spacer for balancing, if necessary */
  visibility: hidden;
}

.titleAndTvl {
  flex: 1; /* Allow this section to grow and fill the space */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the start (left) */
}

.apr {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Changed for .apr to match .titleAndTvl */
  color: #00ffb7;
}



.poolTitle {
  margin: 0;
  font-family: Tahoma; /* Changed 'font' to 'font-family' */
  font-size: 1.5rem;
  font-weight: 500;
  color: #c3fdff;
}


.cardBody, .actionSection {
  
  padding: 5px;
  background: linear-gradient(90deg, #073f453c, #1c1d2146, #0b0b0b48, #33044c4c, #1c202141);
  display: flex;
  flex-direction: column; /* Added for .cardBody */
  
  
  margin-inline: 0px;
  padding-inline: 20px;
 
}

.poolInfo {
  display: flex;
  justify-content: space-between;

  
}

.actionSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px; /* Space between the input and buttons */
 
}

.stakeInput {
  flex-grow: 1; /* Allows the input to take up the remaining space */
  padding: 7px;
  border-radius: 2px;
  border: 1px solid #4b5563;
  color: #d1d5db;
  background: transparent;
}

.actionButton {
  padding: 8px 8px; /* Adjust padding as needed */
  background: #0ad9e3;
  border: none;
  border-radius: 2px;
  color: #232323;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap; /* Prevents text from wrapping */
  width: 90px;
  font-weight: 600;
  transition: 0.2s;
  height: 31px;
}

.actionButton:hover {
  background: rgb(42, 228, 210);
  
  box-shadow: #ff00ee 0px 0px 5px 0px;
  transition: 0.2s;
}

.actionButtonMAX{
  padding: 8px 4px; /* Adjust padding as needed */
  background: #07c177;
  border: none;
  border-radius: 2px;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap; /* Prevents text from wrapping */
  width: 50px;
  font-weight: 600;

}
.actionButtonMAX:hover {
  background: #10eb93;
  transition: 0.2s;
}

.disabledButton{
  background-color: #727272;

  cursor: not-allowed;
}
.disabledButton:hover{
  background-color: #727272;

  cursor: not-allowed;
}

.cardFooter {
  text-align: center;
  padding: 1px;
  font-weight: 200;
  color: #42817e;
  font-size: 0.75rem;
  
}

.cardFooter a {
  text-decoration: none;
  color: #42817e;
}

.cardFooter a:hover {
  text-decoration: underline;

}

.numberValue {
  font-size: 1rem; /* Adjust size as needed */
  font-weight: 600;
  color: #00ffb7;
  
}

.textValue {
  font-size: 0.6em; /* About half the size of the numbers */
}

.usdValue {
  color: rgb(0, 252, 134);
  font-size: 1em; /* About half the size of the numbers */
}


/* StakingPage.module.css */

.buttonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure the flex container fills the button */
}

.mainText {
  /* Adjust as needed to position the main text */
  margin-bottom: -2px; /* Creates space between the main text and the note */
  font-size: 13px; /* Example size, adjust as needed */
}

.noteInsideButton {
  padding-top: 1px;
  font-size: 8px; /* Small font size for the note */
  align-self: center; /* Center the note */
}

.titleAndLogoContainer {
  display: grid;
  grid-template-rows: 30px; /* Two rows: one for the title/logo, one for the TVL */
  gap: 0px; /* Space between title/logo row and TVL row */
}

.titleAndLogo {
  display: flex;
  
  justify-content: flex-start; /* Align title and logo to the start (left) */
}

.poolTitle {
  margin: 1px;
  flex-grow: 0; /* Allow the title to take up as much space as possible, pushing the logo to the end */
}

.buyLink {
padding-left: 10px;

}

