/* src/components/DebankLPTrack.module.css */
@media (min-width: 800px) {
  .container {
    padding: 16px;
    background-color: #1c1c2400;
    color: #f0f0f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    width: 800px;
    box-shadow: 0 2px 8px rgba(2, 217, 255, 0.829);
  }
}

@media (max-width: 800px) {
  .container {
    padding: 16px;

    color: #f0f0f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(2, 217, 255, 0.829);
  }
}

.statsContainer {
  padding: 12px;
  background-color: #2b2b362d;
  border-radius: 8px;
  margin-bottom: 12px;
  color: #ffffff;
  cursor: pointer;
}

.statsHeader {
  display: flex;
  align-items: center;
}

.statsInfo {
  display: flex;
  align-items: center;
}

.statItem {
  margin-right: 20px;
  font-size: 1em;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 10px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid #ffffff;
  transition: transform 0.2s ease;
}

.arrow.expanded {
  transform: rotate(90deg);
}

.protocolCard {
  background-color: #2b2b362d;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  cursor: pointer;
}

.protocolInfo {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 50%;
  margin-right: 10px;
}

.protocolName {
  font-size: 1em;
  color: #ffffff;
}

.totalValue {
  font-size: 1em;
  font-weight: bold;
  color: #1cd496;
}

.totalValueLarge {
  font-size: 1em;
  font-weight: bold;
  color: #76c7c0;
}

.table {
  width: 100%;
  margin-top: 12px;
  border-collapse: collapse;
  font-size: 0.85em;
}

.table th,
.table td {
  padding: 10px 12px;
  border-bottom: 1px solid #3a3a4a;
}

.table th {
  cursor: pointer;
}

.pool {
  display: flex;
  align-items: center;
  height: 62px;
  font-size: x-small;
}

.tokenLogo {
  border-radius: 50%;
  margin-right: 5px;
}

.balanceItem {
  color: #d0d0e0;
  font-size: 10px;
}

.usdValue {
  color: #76c7c0;
  font-size: 0.95em;
  font-weight: 600;
  text-align: right;
}

.sortArrow {
  margin-left: 5px;
  font-size: 0.75em;
}

.loading {
  text-align: center;
  font-size: 1.2em;
  padding: 20px;
  color: #ffffff;
}

.totalTVL {
  font-size: 6rem;
  /* Use viewport width units */
  color: #d2ffc3;
  margin: 0;
  /* Remove margin to prevent extra space */
  text-shadow: 0 0 10px #5d00ff;
  white-space: nowrap;
  /* Prevent text from wrapping */
}

/* Add media queries to cap the font size */
@media (min-width: 1200px) {
  .totalTVL {
    font-size: 6rem;
    /* Maximum font size */
  }
}

@media (max-width: 600px) {
  .totalTVL {
    font-size: 14vw;
    /* Minimum font size */
  }
}