.footer {
  background: linear-gradient(180deg, #00ffff 0%, #74ffc7 10%, #0be3d8 50%, #0dd7cd 75%, #00d46a 100%);
  color: #fff;
  padding: 20px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto 40px;
  padding: 0 20px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.footerSection {
  flex: 1;
  min-width: 220px;
  padding: 0 40px;
}

.footerSection h4 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection li {
  margin-bottom: 10px;
}

.footerSection li a {
  color: #0bf3e7;
  text-decoration: none;
  transition: color 0.3s;
}

.footerSection li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.footerBottom {
  display: flex;
  justify-content: space-between; /* Ensure elements are spread out */
  align-items: center; /* Vertically center the items */
  border-top: 1px solid #2e353c; /* Add a top border for visual separation */
  padding-top: 20px; /* Add some padding at the top */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.followUs {
  display: flex;
  align-items: center;
}

.rights {
  text-align: right; /* Right-align the copyright text */
  font-size: 14px; /* Set a suitable font size */
}

.socialLinks {
  display: flex;
  align-items: center; /* Vertically align icons */
}

.socialLinks a {
  margin-right: 10px; /* Add some space between icons */
}

.socialLinks a:last-child {
  margin-right: 0; /* Remove margin for the last icon */
}

.socialLinks a img {
  width: 24px; /* Set a fixed width for icons */
}

.joinUsText {
  text-align: center; /* Center-align the text */
  flex-grow: 1; /* Allow the text to take up available space */
  padding: 0 20px; /* Add some horizontal padding */
  font-size: 10px; /* Set a smaller font size */
}

@media (max-width: 768px) {
  .footerBottom {
    flex-direction: column; /* Stack elements on top of each other on small screens */
    text-align: center; /* Center-align everything */
  }

  .socialLinks, .joinUsText, .rights {
    margin-bottom: 10px; /* Add some vertical space between items */
  }

  .socialLinks, .rights {
    justify-content: center; /* Center-align icons and text */
  }
}
