@keyframes moveLight {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #000000;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #00fff7;
  overflow: visible;
  box-sizing: border-box;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 4px;
  left: -150%;
  width: 300%;
  background: linear-gradient(90deg, transparent, #00ffbf, transparent);
  animation: moveLight 20s infinite linear;
}

.navbar, .navLinks, .navLinks a {
  box-sizing: border-box;
  
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
  .navLinks {
    gap: 10px;
  }
  .navLinks a {
    padding: 0.5rem;
  }
}

.burger {
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(10, 225, 240, 0.3); /* Semi-transparent background */
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(10, 225, 240, 0.3);
}

.dropdownItem {
  display: block; /* Stack items vertically */
  padding: 10px; /* Uniform padding for each item */
  color: #ffffff; /* White text for better readability */
  text-decoration: none; /* Remove underline from links */
  transition: background-color 0.3s ease; /* Transition for hover effect */
  font-size: .9rem;
}

.dropdownItem:hover {
  background-color: #0ae1f0; /* Highlight item on hover */
  color: #000000; /* Change text color for contrast */
}

/* Remove any border, box-shadow, or background styling that causes 'box' appearance */
.dropdownMenu {
  border: none;
  box-shadow: #00ffe529;;
  background-color: #00ffe529;
  backdrop-filter: blur(10px);
}

.dropdownItem {
  background-color: transparent; /* Transparent background for items */
  border: none;
  box-shadow: none;
}

/* On hover, only change the text color instead of adding a background */
.dropdownItem:hover {
  background-color: transparent; /* Keep background transparent on hover */
  color: #0ae1f0; /* Only text color changes on hover */
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.navLinks a {
  color: #adb5bd;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navLinks a:hover {
  background-color: #0bf3e7;
  color: #1a202c;
}

.WalletAndBurger {
  display: flex;
  gap: 20px;
  align-items: center;
}
