@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.layoutContainer {
  display: flex;
  /* Enable flex layout */
  flex-direction: column;
  /* Stack children vertically */
  min-height: 100vh;
  /* Minimum height of the container to full viewport height */
  background-color: rgba(0, 0, 0, 0);
  /* Existing style kept */
}

.mainContent {
  flex-grow: 1;
  color: #c3c3c3;
  /* Allow the main content to grow and fill the available space */
  background: #151515;
  background-size: 400% 400%;
  animation: gradientAnimation 60s ease infinite;
  padding: 0.2rem;
  padding-bottom: 60px;
  /* You might want to adjust or remove this, depending on your footer's height */
}

/* Ensure you also have styles for your Header and Footer for a complete layout */