.stakingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  background: #F0F2F5; /* Light gray background */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 200px auto; /* Center in the viewport */
  position: relative;
  overflow: hidden; /* Ensures the pseudo-element doesn't overflow */
}
  .dashboardTitle {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .stakingPool {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
  }
  
  .poolHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
  }
  
  .poolName {
    color: #333;
    font-size: 18px;
  }
  
  .apr {
    color: #666;
    font-size: 16px;
  }
  
  .aprValue {
    color: #4CAF50;
  }
  
  .poolDetails {
    margin-top: 10px;
  }
  
  .stakeDetail, .stakeAmount {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .actionButtons {
    display: flex;
    justify-content: space-around;
  }
  
  .stakeButton, .unstakeButton {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .stakeButton:hover, .unstakeButton:hover {
    background-color: #388E3C;
  }
  
  .contractInfo {
    text-align: center;
    margin-top: 20px;
  }
  
  .contractLink {
    color: #2196F3;
    text-decoration: none;
  }
.container {
  display: flex;
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  height: calc(100vh - 100px); /* Adjust 100px to your header's actual height */
  padding-top: 100px; /* Again, adjust this value to your header's actual height */
}
  .stakingWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 90%;
    background: #001110; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin:  auto; /* Center in the viewport */
    position: relative;
    overflow: visible; /* Ensures the pseudo-element doesn't overflow */
    /* Other styles remain unchanged */
  }
  
  .stakingWrapper::after {
    content: "";
    position: absolute;
    top: -10px; /* Slightly larger to ensure the glow is visible */
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    filter: blur(100px);
    background: linear-gradient(95deg, #ff00f7, #00bfff, #00ffbb);
    background-size: 200% 300%; /* Larger size for visible movement */
    animation: animateGlow 22s linear infinite;
  }
  
  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  