.chainBalancesTableContainer {
  background-color: #0207077a;

  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  overflow-x: auto;
  display: block;
  max-width: 60rem;
  width: 100%;
  margin: auto;
  color: #cfcfcf;
}

.chainBalancesTableHeader {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #00dab6;
}

.chainBalancesTable {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.chainBalancesTable th,
.chainBalancesTable td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.chainBalancesTable th {
  background-color: #34483c8a;
  color: #e0e0e0;
}

.chainBalancesTable td {
  color: #cfcfcf; /* Adjusting text color for better readability */
}

.chainBalancesTable a {
  color: #09e1b3;
  text-decoration: none;
}

.chainBalancesTable a:hover {
  text-decoration: underline;
}

/* Specific column styling, if needed */
.chainBalancesTable .pairColumn,
.chainBalancesTable .priceColumn,
.chainBalancesTable .spreadColumn,
.chainBalancesTable .volumeColumn,
.chainBalancesTable .volumePercentColumn {
  /* Add specific column styles here, similar to the CryptoTable styling */
}

/* Additional styling for hover effects on rows */
.chainBalancesTable tr:hover {
  background-color: #1d1f2133; /* Slightly darker on hover for interactivity */
}

.sortArrow {
  margin-left: 4px; /* Space between header title and arrow */
}

.decimals {
  font-size: 0.75em; /* Adjust as needed */
}
/* In ChainBalances.module.css */
.zeroValue {
  color: grey;
}

.decimals {
  font-size: 0.75em; /* Adjust as needed */
}

.totalNetWorth {
  float: right;
  margin-right: 1rem; /* Adjust as needed */
}
.omittedChains {
  font-size: 0.8em;
  font-style: italic;
  margin-top: 1rem; /* Adjust as needed */
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalNetWorth {
  margin-top: -1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
