.container {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 5px;
  padding: 1rem;
}

.assetTitle {
  margin-right: 10px;
  font-weight: 500;
}

.copyButton {
  padding: 2px 6px;
  font-size: 12px;
  cursor: pointer;
  background-color: #e0e0e0;
  border: none;
  border-radius: 3px;
}
